@import config.AppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import utils.FormHelpers

@import utils.InputOption

@(appConfig: AppConfig, form: Form[_], options: Seq[InputOption] )(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("enquiry.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.back_link()

    @components.error_summary(form.errors)

    @components.heading("enquiry.heading")

    @helpers.form(action = EnquiryController.onSubmit(), 'autoComplete -> "off") {

           @components.input_text(
               field = form("subject"),
               label = messages("enquiry.subject"),
               "class" = "govuk-input--width-65"
           )

           @components.input_text(
               field = form("email"),
               label = messages("enquiry.email")
           )

           @components.input_text(
               field = form("confirmEmail"),
               label = messages("enquiry.confirmEmail")
           )

           @components.input_textarea
(
               field = form("question"),
               label = messages("enquiry.question")
           )

        @components.submit_button()
    }
    <p class="govuk-inset-text">HMRC will reply to your inbox within 5 working days.</p>

}
